<body>
  <div *ngIf="!readyToJoin" class="panel2">
    <h1>Join a Room</h1>
    <label for="uname">Set your Username:</label><br />
    <input type="text" [(ngModel)]="uname" /><br /><br />
    <label for="roomnumber">Room Number given by SM:</label><br />
    <input type="text" [(ngModel)]="roomnumber" /><br /><br />
    <p id="regexnameWarning"></p>
    <br /><br />
    <button (click)="setupRoom(uname, roomnumber)">Join Room</button>
  </div>
  <div *ngIf="readyToJoin" class="panel2 component">
    <canvas style="display: none;" id="canvas"></canvas>
      <h1>You can vote now!</h1>
      <h2>Your room number: {{ roomnumber }}</h2>
      <br /><br /><br />
      <div *ngFor="let vote of votes">
        <button
          class="vote"
          [disabled]="showMessage"
          (click)="updateMessage(vote)"
        >
          {{ vote }}
        </button>
      </div>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <p>
        Server Message: Hello
        {{ channel.state.messages[channel.state.messages.length - 1].user.id }}!
      </p>
    <ul style="list-style-type: none">
      <li *ngFor="let message of messages; let i = index" [ngClass]="{'re': i != 0}">
        <p *ngIf="showMessage || message.user.id == username || i == 0">
          {{ message.text }}
        </p>
      </li>
    </ul>
  </div>
</body>
