<body>
    <div *ngIf="!readyToJoin">
        <label for="uname">Set your Username:</label><br>
        <input type="text" [(ngModel)]="uname"><br><br>
        <label for="roomnumber">Room Number given by SM:</label><br>
        <input type="text" [(ngModel)]="roomnumber"><br><br>
        <p id="regexnameWarning"></p>
        <button (click)="setupRoom(uname,roomnumber)">Join Room</button>
    </div>
    <div *ngIf="readyToJoin">
        <h1>You can vote now!</h1>
        <h2>Your room number: {{roomnumber}}</h2>
        <br><br><br>
        <button (click)="sendMessage(0.5)">0.5</button>
        <button (click)="sendMessage(1)">1</button>
        <button (click)="sendMessage(2)">2</button>
        <button (click)="sendMessage(3)">3</button>
        <button (click)="sendMessage(5)">5</button>
        <button (click)="sendMessage(8)">8</button>
        <button (click)="sendMessage(13)">13</button>
        <button (click)="sendMessage(20)">20</button>
        <button (click)="sendMessage('?')">?</button>
        <p> Current: {{ channel.state.messages[ channel.state.messages.length - 1 ].text }}</p>
        <li *ngFor="let message of messages">
            {{ message.text }}
        </li>



    </div>
</body>