  #window {
    min-width: 250px;
    max-width: 250px;
    min-height: 200px;
    max-height: 300px;
    position: relative;
    vertical-align:middle;
  }

  body {
    background: #CFD8DC;
    font-family: arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .component {
    min-width: 550px;
    max-width: 550px;
    min-height: 400px;
    max-height: 400px;
    position: relative;
    vertical-align:middle;
  }

  .component2 {
    min-width: 550px;
    max-width: 550px;
    min-height: 200px;
    max-height: 200px;
    position: relative;
    vertical-align:middle;
  }

  p {
    font-size: 200%;
  }
  
  h1 {
    font-weight: bold !important;
    color: #D3004B;
    font: 30px/1.2 Helvetica, sans-serif;
    font-size: 250%;
    margin: 0;
    padding-bottom: 4px;
    text-shadow: white 0 1px 2px;
  }

  .panel {
    background-color: #FAFAFA;
    border-radius: 16px;
    text-align: center;
    padding: 15px 25px 30px 25px;
    width: 200px;
  }
  
  .panel2 {
    background-color: #FAFAFA;
    border-radius: 16px;
    text-align: center;
    padding: 15px 25px 30px 25px;
    width: 500px;
  }

  label {
    color: #222;
    font: 18px/1.4 Helvetica, sans-serif;
    margin: 0.5em 0;
    display: inline-block;
  }
  
  form {
    transition: transform 0.25s ease;
    width: 563px;
  }
  
  button {
    padding: 14px 30px;
    font-size: 200%;
    font-weight: bold;
    display: block;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
    border: 1px solid #AAA;
    color: #34515E;
    min-width: 4em;
    display: inline;
  }

  button:hover {
    background-color: #F50057;
  }

  ul {
    background: #D3004B;
    padding: 20px;
    width: 200 !important;
  }
  
  ul li {
    font-size: 150%;
    background: #F50057;
    padding: 5px;
    display: inline-block;
    margin-left: 35px;
  }
  